Gemfile.lock
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
*.log
/tmp/

# rspec failure tracking
.rspec_status

# data to ignore
*.xlsx
/data/*.csv
/data/profile_config.yaml
/data/configs/*.json
/data/mappers/*.json
/data/config_holder/