Gemfile.lock
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
*.log
/tmp/

# rspec failure tracking
.rspec_status

# data to ignore
*.csv
*.xlsx
/data/profile_config.yaml
/data/comparisons/private
/data/config_holder/private
/data/mappers_holder/private