.DS_Store
Gemfile.lock
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/pkg/
/spec/reports/
*.log
/tmp/
.byebug_history

# rspec failure tracking
.rspec_status

# data to ignore
/data/configs/*.json
/data/profile_config.yaml
/data/comparisons/private
/data/config_holder/private
/data/mappers_holder/private
/data/templates_holder/private